.mat-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(0, 161, 228);
    color: white;
  }

  .mat-toolbar {
    background-color: rgb(0, 161, 228)
  }

  .mat-list-item {
    color: white;
  }

  .mat-nav-list a {
    color: white !important;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  
  