<mat-toolbar>
  <button mat-icon-button (click)="showStartPage()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="center">
    All the information needed for your flight in one place!
  </span>
</mat-toolbar>

<ng-container *ngIf="flightservice.getFlightNumber()">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Flight details</a>
        <a mat-list-item routerLink="/seats">Seats capacity</a>
        <a mat-list-item routerLink="/luggage">Luggage capacity</a>
        <a mat-list-item routerLink="/catering">Catering</a>
        <a mat-list-item routerLink="/crew">Crew details</a>
      </mat-nav-list>
    </mat-sidenav>
    <button mat-icon-button (click)="sidenav.toggle()" style="margin-top: 5px;">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-container>
</ng-container>

<!-- <ng-container *ngIf="menuEnabled">
  <app-home-page></app-home-page>
</ng-container> -->

<router-outlet></router-outlet>