.start-page {
  background-image: url('../../assets/plane.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0,0,0,0.6);
  padding: 20vh 10%;
}